# Ignore everything in the root except the "wp-content" directory.
.*
*.php
*.txt
*.html
wp-admin/
wp-includes/
wp-production/
wp-content/plugins/
wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/

# e-mail password
wp-content/themes/OOWPtheme-oscar/config/email.php